<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= category %> List</title>
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/bootstrap-icons.css">
    <link rel="stylesheet" href="/styles/spotroulette.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Gruppo">
  </head>
  <body class="text-center whole-page">
    <div>
      <h1 class="display-1">SpotRoulette</h1>
      <nav class="navbar navbar-expand-lg navStyle">
          <a class="navbar-brand" href="index.html">Logo</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class ="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                  <li class="nav-item"><a class="nav-link" href="/categoryList?category=Restaurant">Restaurants</a></li>
                  <li class="nav-item"><a class="nav-link" href="/categoryList?category=Bar">Bars</a></li>
                  <li class="nav-item"><a class="nav-link" href="/categoryList?category=Attraction">Attractions</a></li>
                  <li class="nav-item"><a class="nav-link" href="">Events</a></li>
              </ul>
          </div>
      </nav>
    <h1 class="display-3"><%= category %> List</h1>
    <ul class="list-group">
      <% list.forEach(item => { %>
          <li class="list-group-item"><a href="/destination/<%= item.id %>"><%= item.name %> - <%= item.type %></a></li>
      <% }); %>
    </ul>
    <button class="btn btn-outline-primary" onclick="document.location='../index.html'">Return</button>  
    <script src="../public/scripts/bootstrapjs/bootstrap.bundle.min.js"></script>
  </body>
</html>