<!DOCTYPE html>
<html>
    <head>
        <title>Spot Roulette - Additional Info</title>
        <link rel="stylesheet" href="/styles/spotroulette.css">
        <link rel="stylesheet" href='/styles/bootstrap.min.css'>
        <link rel="stylesheet" href="/styles/bootstrap-icons.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Gruppo">
    </head>
    <body>
        <h1>Additional Information</h1>
        <h2><%= destination.name %></h2>
        <p><%= destination.description %></p>
        <p><%= destination.address %></p>
        <p><%= destination.city %>, <%=destination.state %></p>
        <p><%= destination.zipcode %></p>
        <p><%= destination.neighborhood %></p>
        <p><%= destination.type %></p>
    </body>
</html>