<!DOCTYPE html>
<html>
    <head>
        <title>Spot Roulette - Additional Info</title>
        <link rel="stylesheet" href="/styles/spotroulette.css">
        <link rel="stylesheet" href='/styles/bootstrap.min.css'>
        <link rel="stylesheet" href="/styles/bootstrap-icons.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Gruppo">
    </head>
    <body>
        <h1>Additional Information</h1>
        <h2><%= destination.name %></h2>
        <p><%= destination.description %></p>
        <div id="map"></div>
        <p><%= destination.address %></p>
        <p><%= destination.city %>, <%=destination.state %></p>
        <p><%= destination.zipcode %></p>
        <p><%= destination.neighborhood %></p>
        <p><%= destination.type %></p>
        <a href="../index.html">Return</a>
        <script>
            function initMap(){
                console.log('Initializing the map...');
                //Get the GPS coordinates from destination
                const latitude = <%= destination.coordinates.latitude %>
                const longitude = <%= destination.coordinates.longitude %>
                const coordinates = {lat: latitude, lng: longitude};
                //Create map
                const map = new google.maps.Map(document.getElementById("map"), {
                    center: coordinates,
                    zoom: 12,
                });

                //Add a marker to the map
                const marker = new google.maps.Marker({
                    position: coordinates,
                    map: map,
                    title: '<%= destination.name %>'
                });
            }
        </script>        
        <script src="https://maps.googleapis.com/maps/api/js?key=<%= process.env.GOOGLE_MAPS_API_KEY %>&callback=initMap" async defer></script>
    <!-- Uber Button -->
    <!--<script src="https://www.buttons.uber.com/button.js"></script>
    <div id="uber-button"></div>
    <script>
        var button = UberButton.create({
            container: document.getElementById('uber-button'),
            content: {
                product_id: 'wxVLe5vubj9VqbEjsLFEyOmfMZKdxaSJ',
                link_text: 'Ride with Uber'
            },
            style: 'white',
            size: 'large',
            no_fallback: false,
            token: 'your-server-token'
        });
    </script>-->

    </body>
</html>